


/* LE MENU DEROULANT */
.banner .banner-image {
    position: fixed;
    z-index: -9000;
}

.banner .banner-content {
    z-index: -500;
    -webkit-text-stroke: 0.5px #1d1d1d;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 20%;
    color: rgb(238, 238, 238)
}

.banner .banner-content .test {
    /*donnees de BD */
    position: absolute;
    right: 44%;
    top: 300%;

}
.banner .banner-content .test1 {
    position: absolute;
    right: 40%;
    top: 120%;
   
}

